{% load static %}
{% load widget_tweaks %}
<html lang="en">
<head>
    
    <h1>Search Home</h1>
    <title>Home</title>
</head>
<body>
    
    <link rel="stylesheet" href="{% static 'home.css' %}">
    <script src="{% static 'main.js' %}"></script>

    
    <script>
        window.onload = getLocation();
    </script>
       
    <form action="/" method="POST" id="macros">
        <div class="flex-container">
        {% csrf_token %}
        <div class="row1"> 
            {% render_field form.restaurant Placeholder="Restaurant" class+="form-control" %}
        </div>

        <div class="row"> 
            <div class="column">{% render_field form.cal_min Placeholder="Calories Min" class+="form-control" %}</div>
            <div class="column"> {% render_field form.pro_min Placeholder="Protein Min" class+="form-control" %}</div>
            <div class="column"> {% render_field form.fat_min Placeholder="Fat Min" class+="form-control" %}</div>
            <div class="column"> {% render_field form.carb_min Placeholder="Carb Min" class+="form-control" %}</div>

        </div>
        
        <div class="row"> 
            <div class="column">{% render_field form.cal_max Placeholder="Calories Max" class+="form-control"  %}</div>
            <div class="column">{% render_field form.pro_max Placeholder="Protein Max" class+="form-control" %}</div>
            <div class="column">{% render_field form.fat_max Placeholder="Fat Max" class+="form-control" %}</div>
            <div class="column"> {% render_field form.carb_max Placeholder="Carb Max" class+="form-control" %}</div>
        </div>
    </div>
        
        {% render_field form.fat_man Placeholder="Fat Maximum" class+="form-control" %}
        <input  type="submit" name="macros" value = "Enter Macros"> 
    </form>
    {% block mymessage %}
    {% endblock %}
</body>
</html>