
.row1{
  background-color: paleturquoise;
  padding-bottom: 25px;
}
.row{
  column-count: 4;
  background-color: purple; 
  height: 25px;
  width: 1000px;
}

.column{
  display: flex;
  flex-direction: column;
  width: 150px;
}


